## Grouping

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('data/rental_residence.csv', sep=";")

In [3]:
dataset.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Aggregate Type
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
5,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
6,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
7,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
8,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0,66.67,Apartamento
9,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,53.50,Apartamento

In [6]:
round(dataset['Valor'].mean(),2)

4753.97

In [7]:
neighborhood = ['Barra da Tijuca', 'Copacabana', 'Ipanema', 'Leblon', 'Botafogo', 'Flamengo', 'Tijuca']

In [8]:
select = dataset['Bairro'].isin(neighborhood)

In [9]:
dataset[select]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Aggregate Type
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
7,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
8,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0,66.67,Apartamento
9,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,53.50,Apartamento
11,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
20571,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0,68.18,Apartamento
20572,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0,37.50,Apartamento
20573,Apartamento,Ipanema,3,1,2,150,15000.0,1400.0,600.0,100.00,Apartamento
20574,Apartamento,Tijuca,1,0,0,28,1000.0,360.0,25.0,35.71,Apartamento
20580,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,42.86,Apartamento

In [10]:
dataset = dataset[select]

In [11]:
neighborhood_group = dataset.groupby('Bairro')

In [13]:
#DataFrameGroupBy
type(neighborhood_group)

pandas.core.groupby.generic.DataFrameGroupBy

In [16]:
#Dictionaries
neighborhood_group.groups

{'Barra da Tijuca': Int64Index([   11,    17,    26,    28,    31,    38,    54,    55,    58,
                62,
             ...
             20515, 20519, 20520, 20528, 20530, 20533, 20557, 20567, 20568,
             20569],
            dtype='int64', length=3367),
 'Botafogo': Int64Index([   19,    43,    80,    81,   104,   112,   120,   127,   186,
               190,
             ...
             20252, 20267, 20278, 20306, 20423, 20430, 20436, 20480, 20509,
             20548],
            dtype='int64', length=859),
 'Copacabana': Int64Index([    0,     7,     8,     9,    20,    21,    24,    27,    79,
                84,
             ...
             20474, 20478, 20499, 20506, 20539, 20541, 20552, 20565, 20566,
             20571],
            dtype='int64', length=2640),
 'Flamengo': Int64Index([   72,   131,   206,   266,   300,   324,   333,   338,   346,
               369,
             ...
             20304, 20335, 20356, 20402, 20450, 20471, 20491, 20494, 20503,
             20551],
            dtype='int64', length=713),
 'Ipanema': Int64Index([   15,    35,    36,    40,    47,    48,    67,    77,    85,
               107,
             ...
             20482, 20485, 20493, 20502, 20507, 20508, 20516, 20546, 20553,
             20573],
            dtype='int64', length=1762),
 'Leblon': Int64Index([   23,    53,    83,    90,   108,   126,   154,   159,   162,
               201,
             ...
             20484, 20523, 20529, 20536, 20543, 20544, 20545, 20564, 20572,
             20580],
            dtype='int64', length=1246),
 'Tijuca': Int64Index([   12,    14,    16,    74,    75,   119,   138,   142,   151,
               157,
             ...
             20348, 20352, 20381, 20384, 20431, 20445, 20479, 20492, 20532,
             20574],
            dtype='int64', length=1085)}

In [19]:
for neighbor, dataset in neighborhood_group:
    print(dataset['Barro'].neighbor)

KeyError: 'Barro'